<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>

        <property name="connection.url">jdbc:sqlite:home.db</property>
        <mapping class="org.example.CourierInfoEntity"/>
        <mapping class="org.example.CustomersEntity"/>
        <mapping class="org.example.DeliveryEntity"/>
        <mapping class="org.example.OrdersEntity"/>
        <mapping class="org.example.OrdersProductsEntity"/>
        <mapping class="org.example.ProductsEntity"/>

        <!--<property name="connection.url">jdbc:sqlite:demo.db</property>
        <mapping class="org.max.demo.EmployeeEntity"/>
        <mapping class="org.max.demo.EmployeeInfoEntity"/> -->

        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>